{{!-- <form action="/checkEmail" method="POST" id="checkForm">
    <input type="hidden" name="check-email" id="check-email-input">
    <button class="btn btn-dark" type="button" id="check-email-btn">check email</button>
    <p>{{checkResult}}</p>
</form> --}}