<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Seafood</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link {{#if active.home}}active{{/if}}" aria-current="page" href="/" >首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if active.shop}}active{{/if}}" href="/products">購物</a>
        </li>
        <div class="ms-auto d-flex align-items-center">
          <div class="ratio ratio-1x1 me-2 mynav-cart">
            <a href="/cart">
              <img src="/images/cart.png" alt="cart" class="cover-fit">
            </a>
            <div class="product-added" id="added-inform"></div>
          </div>
          {{#unless auth}}
          <li class="nav-item">
            <a class="nav-link {{#if active.signUp}}active{{/if}}" href="/signUp">註冊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signIn">登入</a>
          </li>
          {{/unless}}
          {{#if auth}}
          <li class="nav-item">
            <a class="nav-link" href="/logout">登出</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#member" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              會員
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/member">會員資料</a></li>
              <li><a class="dropdown-item" href="/member/order">訂單查詢</a></li>
            </ul>
          </li>
          {{/if}}
        </div>
      </ul>
    </div>
  </div>
</nav>
<script>
  {{!-- let urlParams = new URLSearchParams(window.location.href);
  console.log(urlParams); --}}
</script>