<h1 class="text-center pt-3">Welcome to {{title}}</h1>
<p class="text-center">專業漁場時價分析師 兼 操盤手 兼 洋流講師把關<br>不怕買貴只怕排隊</p>

<div class="text-center">
    <img src="/images/shrimp.svg" alt="shrimp" width="250" class="svgShrimp">
    <img src="/images/shrimp.svg" alt="shrimp" width="250" class="svgShrimp">
    <img src="/images/shrimp.svg" alt="shrimp" width="250" class="svgShrimp">
</div>
<div class="text-center d-flex flex-column pt-3">
    <a href="/signUp" class="btn btn-dark w-25 m-auto">二話不說 註冊再說</a>
    <a href="/signIn" class="link-secondary">已有帳號？</a>
</div>
