<div class="d-flex justify-content-center">
    <div class="single-product">
        <figure class="ratio ratio-4x3">
            <img class="cover-fit" src="/images/clams.jpg" alt="好吃蛤蜊">
        </figure>
        <div class="product-info">
            <h3>好吃蛤蜊</h3>
            <h3>NT$ 500</h3>
        </div>
        <div class="product-info">
            <p class="m-0">庫存: 500</p>
            <button class="btn btn-dark" type="button">加入購物車</button>
        </div>
    </div>

</div>