<div class="d-flex flex-wrap">
    {{#each info}}
    <a class="product-card" href="#">
        <figure class="ratio ratio-4x3">
            <img class="cover-fit" src="/images/{{this.image}}" alt="{{this.name}}">
            <div class="hover-cover">查看商品詳情</div>
        </figure>
        <div class="product-info">
            <h4>{{this.name}}</h4>
            <h4>NT$ {{this.price}}</h4>
        </div>
    </a>
    {{/each}}
</div>