a {
    text-decoration: none;
    color: #000;
    &:hover {
        color: #000;
    }
}
.container {
    margin-bottom: 60px;
}
.show {
    display: block;
}
.error-msg {
    color: red;
    font-size: 0.7rem;
}
.input-block {
    margin: 5px 0 5px 0;
    input {
        display: block;
        line-height: 1.8rem;
        width: 100%;
        border: 1px solid #bbb;
        border-radius: 5px;
        transition: .4s;
    }
    input:focus{
        outline: none;
        border: 1px solid #000;
    }
}
.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.spinner-border {
    width: 1rem;
    height: 1rem;
    border-width: 0.18rem;
}
.message-box {
    padding: 1rem 3rem;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: none;
    p {
        padding: 4rem 0 0 0;
    }
    &.show {
        display: block;
    }
}
// 首頁
@keyframes shake {
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
}
.svgShrimp:hover {
    animation: shake 0.3s 1 linear normal both;
}
// 商品頁
.product-card {
    margin: 1rem 2rem;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    transition: .4s;
    position: relative;
    cursor: pointer;
    .product-info {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hover-cover {
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        line-height: 225px;
        color: white;
        transition: .4s;
        opacity: 0;
    }
    &:hover {
        transform: scale(1.1);
        .hover-cover {
            opacity: 1;
        }
    }
}