.input-block {
    margin: 5px 0 5px 0;
    input {
        display: block;
        line-height: 1.8rem;
        width: 100%;
        border: 1px solid #bbb;
        border-radius: 5px;
        transition: .4s;
    }
    input:focus{
        outline: none;
        border: 1px solid #000;
    }
}
.error-box {
    padding: 1rem 3rem;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: none;
    &.show {
        display: block;
    }
}

@keyframes shake {
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
}
.svgShrimp:hover {
    animation: shake 0.3s 1 linear normal both;
}